.progress-box .box-item {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.progress-box .box-item .box {
  width: 220px;
  height: 180px;
  border-radius: 5px;
  margin-top: 30px;
  background-color: #fff;
}
.progress {
  width: 80%;
  height: 5px;
  position: relative;
  border-radius: 100px;
}
.progress::after {
  content: "";
  position: absolute;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: blue;
}
.progress::before {
  content: "80%";
  position: absolute;
  right: -40px;
  bottom: -10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.box:nth-child(1) .progress::after {
  content: "";
  position: absolute;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: rgb(255, 0, 157);
}
.box:nth-child(1) .progress::before {
  content: "80%";
  position: absolute;
  right: -40px;
  bottom: -10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.box:nth-child(2) .progress::after {
  content: "";
  position: absolute;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: rgb(22, 24, 151);
}
.box:nth-child(2) .progress::before {
  content: "60%";
  position: absolute;
  right: -40px;
  bottom: -10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.box:nth-child(3) .progress::after {
  content: "";
  position: absolute;
  left: 0;
  width: 58%;
  height: 100%;
  background-color: rgb(190, 94, 253);
}
.box:nth-child(3) .progress::before {
  content: "58%";
  position: absolute;
  right: -40px;
  bottom: -10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.box:nth-child(4) .progress::after {
  content: "";
  position: absolute;
  left: 0;
  width: 90%;
  height: 100%;
  background-color: rgb(255, 105, 94);
}
.box:nth-child(4) .progress::before {
  content: "90%";
  position: absolute;
  right: -40px;
  bottom: -10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.box-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-item .img img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 10px;
}
